# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
logs/*
!logs/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Generated data
data/bronze/
data/silver/
data/gold/
data/metadata/

# Environment
.env

# Docker
docker-compose.override.yml

# Docker Cache
.pytest_cache/
.mypy_cache/
.coverage

# IDE
.idea/

Thumbs.db

*.swp